<style>
  body
  {
    font-family: NanumGothic;
    background-size: auto;
    background-color: inherit;
  }
  header
  {
    background-color: #FFBC42;
    border-bottom:  3px solid gray;
    border-top: 3px solid gray;
    border-left: 3px solid gray;
    border-right: 3px solid gray;
    padding: 15px;
  }
  nav
  {
    background-color: #FFBC42;
    border-right: 3px solid gray;
    border-left: 3px solid gray;
    width:270px;
    height: 738px;
    border-bottom: 3px solid gray;
    float:left;
  }
  nav ol
  {
      list-style: none;
  }

  article
  {
    float: left;
    padding-left: 15px;
  }

    #grid {
        display: grid;
    }

  a:link { color: black; text-decoration: none;}
  a:visited { color: black; text-decoration: none;}
  a:hover { color: #D81159; text-decoration: none;}

</style>
